{% extends "base.html" %}

{% block content %}
  <h1>Spook</h1>
  <p>
    Welcome to Spook, a website developed by the
    <em>Feral Slinky Team</em>!
  </p>
  {% load static %}
  <h2>Handout</h2>
  <p>Provide the name and the text to go inside the handout:</p>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
  <h3>Generated Handout</h2>
  <a href="{% static 'images/output.jpg' %}" download>download</a>
  <p></p>
  <img
  src="{% static 'images/output.jpg' %}"
  alt="Background Image"/>
  


{% endblock %}

